html, body {
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}
table.border td, table.border th {
    padding: 5px;
    border: 1px solid #c0c0c0;
}
table.border th {
    background: #e0e0e0;
}

.intro {
    font-family: Arial, serif; 
    font-size: 48px;
    margin: 0;
    padding: 0;
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(255, 232, 232);
    text-align: right; 
}

.menu {
    font-family: Arial, serif; 
    font-size: 20px;
    margin: 0;
    padding: 0; 
    background-color:
}
.header {
    text-decoration: underline; 
    background-color: rgb(204, 204, 204);
}
.about {
    font-family: Arial, serif; 
    font-size: 28px;
    border: 2px solid rgb(204, 204, 204);
    
}
.exemple {
    font-family: Arial, serif; 
    font-size: 18px;
    
}
.code {
    font-family: Arial, serif;
    font-size: 28px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    background-color:#d6d0d0 ;
  }